<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ title or "Untitled" }}</title>
        <style>
            {% include "style.css" without context %}
        </style>
        {%- if livereload %}
        <script>
            {% include "livereload.js" without context %}
        </script>
        {%- endif %}
    </head>
    <body>
        <nav>
            <dl>
                {% if edit_link %}
                <dt>edit</dt>
                <dd class="path"><a href="{{edit_link}}">{{name}}</a></dd>
                {% else %}
                <dt>name</dt>
                <dd class="path">{{name}}</dd>
                {% endif %}
                {% if git %}
                <dt>last edit</dt>
                <dd class="date">{{git.date}}</dd>
                <dt>by</dt>
                <dd class="author" title="{{git.email}}">{{git.name}}</dd>
                <dt>commit</dt>
                <dd class="commit" title="{{git.hash}}">{{git.short_hash}}</dd>
                {% endif %}
            </dl>
            <ul>
                {%- for entry in toc %}
                <li data-level="{{entry.level}}">
                    <a href="#{{entry.id}}">{{entry.title}}</a>
                </li>
                {%- endfor %}
            </ul>
        </nav>
        <main>{{ body | safe }}</main>
    </body>
</html>
